<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/">
      <mat-icon>dialpad</mat-icon>
      <span>填写周报</span>
    </a>
    <a mat-menu-item routerLink="/projects">
      <mat-icon>voicemail</mat-icon>
      <span>编辑项目</span>
    </a>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>查看统计报表</span>
    </button>
  </mat-menu>
  <span class="example-spacer"></span>
  <mat-icon>account_box</mat-icon>
  <span>{{name}}</span>
</mat-toolbar>
