<mat-card class="weekly-container">
  <mat-card-header>
    <mat-card-title>填写周报</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let w of report.works; last as l">
      <div fxLayout="row" fxLayoutGap="8px" style="padding: 16px 0 0">
        <div fxFlex="10 0 10px">
          <div fxLayout="row" fxLayoutGap="8px">
            <div fxFlex="6 0 10px">
              <mat-form-field class="form-full-width">
                <mat-select placeholder="项目编号" [(value)]="w.project" (valueChange)="checkLastWork()">
                  <mat-option *ngFor="let p of projects" [value]="p.id">
                    <b>{{p.name}}</b> ({{p.id}})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="3 0 10px">
              <mat-form-field class="form-full-width">
                <mat-select placeholder="任务模块" [(value)]="w.task" [disabled]="(w.project | task:projects).length === 0">
                  <mat-option *ngFor="let task of w.project | task:projects" [value]="task">
                    {{task}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="3 0 10px">
              <mat-form-field class="form-full-width">
                <input matInput type="text" placeholder="需求人" [(ngModel)]="w.requester" [disabled]="!w.project">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div fxFlex="8 0 10px">
          <app-work-time [(value)]="w.time" [year]="2017" [week]="1" [disabled]="!w.project"></app-work-time>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="8px" style="padding: 0 0 16px">
        <div fxFlex="2 0 10px">
          <button mat-button *ngIf="w.project" (click)="removeRow(w.project)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div fxFlex="8 0 10px">
          <div>
            <mat-form-field class="form-full-width">
        <textarea matInput placeholder="工作内容" [(ngModel)]="w.work" mat-autosize="true" [disabled]="!w.project">
        </textarea>
            </mat-form-field>
          </div>

        </div>
        <div fxFlex="8 0 10px">
          <div>
            <mat-form-field class="form-full-width">
        <textarea matInput placeholder="遇到的问题" [(ngModel)]="w.problem" mat-autosize="true" [disabled]="!w.project">
        </textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <mat-divider *ngIf="!l"></mat-divider>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="submit()">提交</button>
  </mat-card-actions>
</mat-card>
